* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}
 
body { 
    padding-top: 20px;
}

.banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: blue;
    color: white;
}

#search-form-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    float: left;

}

#submit-button {
    float: right;
    align-content: center;
}

#display-weather {
    float: right;
    display: flex;
    flex-wrap: wrap;
}

#future-forecast {
    justify-content: space-evenly;
}

#current-weather,
#weather-forecast {
    background-color: white;
}

h3 {
    color: blue;
}

.card { 
    flex: wrap;
    display: flex;
    
}