* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}

.banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

#search-form-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    float: left;
}

#submit-button {
    float: right;
    align-content: center;
}

#display-weather {
    float: right;
    display: flex;
    flex-wrap: wrap;
}

.forecast-cards {
    justify-content: space-evenly;
}